* {
  font-family: "Roboto";
  box-sizing: border-box;
}

/* Conatiner Styling Here */

.App-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
  padding: 2px;
  margin: 0;
}

.form {
  height: 100%;
  float: left;
  width: 45%;
  padding: 5px;
  margin-left: 1.75%;
}

.finput, .fbutton {
  color: #212529;
  margin-left: 3px;
  padding: 1px;
}

/* Navbar Styling here */
.dropdown-menu.show {
width: 90px;
min-width: 0;
font-size: 0.7rem;
padding: 0;
margin-left: -1px;
border: 1px solid black;
}

.title-Nav {
  color: #fff;
  color: #3a2d7d;
  height: 38px;
  background: #fff;
  width: 100%;
  text-align: center;
}

.navbar {
  display: flex;
  background-color: #2f353a;
}

.code {
  color: white;
}

.selection {
  width: 100%;
  height: 42px;
}

.nav-item {
  color: white;
}

.toast-body {
  background-color: #2f353a;
}

.drop-btn {
  background: black;
}

/* KMP */
.small-logo{
  width: 55px;
  height: 55px;
  margin-right: 5px;
}
.kmp-table {
  background: #5f666b;
  color: white;
}

.profile-img {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin: 0;
  padding: 0;
}

.profile-img1 {
  height: 250px;
  width: 90px;
  margin: 0;
  padding: 0;
}

.phone, .address, .email {
  padding-right: 20px;
}

.text-muted {
  margin-top: 10%;
}

.person-body {
  top: 150px;
  margin: auto;
  display: flex;
}

.person-title {
  width: 100%;
  font-size: 30px;
}

.about-title, .contact-title {
  font-size: 23px;
}

.About-company {
  padding: 15px;
}

.social {
  padding: 2px;
  float: right;
  margin-top: 95px;
}

.em, .fb, .lk {
  margin-left: 40px;
}

.profiling {
  margin: auto;
  display: flex;
  width: 100%;
}

.profile2 {
  margin: auto;
  width: 100%;
  height: 100%;
}

.section {
  margin-left: 8px;
}

.company-type {
  padding: 15px;
  margin-top: 10px;
}
/* broker profile */

.bprofiling{
  margin: auto;
  display: flex;
  width: 100%;
  margin-left: 15%;
}
.Broker-title{
  margin: auto;
  font-size: 27px;
  width: 100%;
}
/* Pie Charts Styling From Here  */

.Chart {
  margin-top: 7%;
  display: flex;
  padding-left: 5%;
}

.HighchartsReact {
  margin-right: 1%;
  border: 2px solid lightgray;
}

.highcharts-credits {
  display: none;
}

.piechart {
  width: 50%;
}

#piecont {
  width: 50%;
  display: flex;
}

#barcont {
  margin-left: 50%;
  bottom: 425px;
  width: 45%;
}

/* table Styling */

.table-header {
  background-color: #e97e62;
  color: white;
  font-size: 16px;
}

.AP, .KMP, .Events {
  width: 96%;
  height: 80%;
  margin-left: 2%;
  border: 2px solid lightgray;
  margin-top: 22px;
  font-size: 12px;
}

/* .card{
  margin: auto;
} */

.card-body {
  margin: auto;
  width: 75%;
}